<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>
</head>

<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>

            <section  style="background-color: #f9f9f9; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <div id="formulario">
                    <form action="/cotizacion" method="post" style="max-width: 400px; margin: 0 auto;">
                        <label for="" style="display: block; margin-bottom: 5px;" >Valor de Automovil</label>
                        <input type="number" name="valor" id="valor" required value=<%=valor%>> <br>

                        <label for=""  style="display: block; margin-bottom: 5px;">Porcentaje de Pago inicial</label>
                        <input type="number" name="pinicial" id="pinicial" required value=<%=pinicial%>> <br>

                        <label for="" style="display: block; margin-bottom: 5px;">Plazos</label>
                        <select name="plazos" id="plazos" style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;">
                            <option value="12">12 Meses</option>
                            <option value="24">24 Meses</option>
                            <option value="36">36 Meses</option>
                            <option value="48">48 Meses</option>
                            <option value="60">60 Meses</option>
                        </select>
                        <button type="submit" style="background-color: #333; color: #fff; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; transition: background-color 0.3s ease;">Calcular</button>
                        <a class="btn btn-primary mt-3"  style="background-color: #333; color: #fff; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; transition: background-color 0.3s ease;" href="/cotizacion" id="limpiar">Limpiar</a>
                        </form>

                    <div style="margin-top: 20px; color: #333; border-bottom: 2px solid #333; padding-bottom: 5px;">
                        <h3>Detalle de la Cotización</h3>
                    </div>
                    
                    <% if (valor) { 
                        pinicial = valor * (pinicial / 100); 
                        let totalAPagar = valor;
                        let mes = (valor - pinicial) / plazos;
                        mes = mes.toFixed(2); 
                    %>
                        <div style="margin-bottom: 10px;">
                            <span style="font-weight: bold;">Pago Inicial:</span> <span>$<%= pinicial %></span>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <span style="font-weight: bold;">Total a Pagar:</span> <span>$<%= valor %></span>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <span style="font-weight: bold;">Meses:</span> <span><%= plazos %> meses</span>
                        </div>
                        <div>
                            <span style="font-weight: bold;">Total a financiar:</span> <span>$<%= valor - pinicial %></span>
                        </div>
                    <% } %>
                    


                </div>
            </section>
            <%-include('partials/footer.ejs')%>
</body>

</html>