<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <title><%=titulo%></title>
</head>
<body>
    <%-include('partials/header.ejs')%>
        <%-include('partials/nav.ejs')%>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, dicta? Quos ipsam totam ut repellat quis! Iste dignissimos voluptatem nesciunt corporis sed eos sapiente repudiandae natus, ab, doloribus omnis consequatur.</p>
        <%-include('partials/footer.ejs')%>
</body>

</html>